<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="box_btn">
                    <button class="btn btn-success" (click)="addNewRow()">Add New Row</button>
                    <input type="text" class="form-control box_search" [(ngModel)]="searchText" placeholder="Search...">
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Kh_Name</th>
                                <th>Grade</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of getFilteredAndPaginatedRows(); let i = index">
                                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                                <td>
                                    <ng-container *ngIf="row.editing">
                                        <input type="text" class="form-control" name="name{{i}}" [(ngModel)]="row.name">
                                    </ng-container>
                                    <ng-container *ngIf="!row.editing">{{ row.name }}</ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="row.editing">
                                        <input type="text" class="form-control" name="age{{i}}" [(ngModel)]="row.age">
                                    </ng-container>
                                    <ng-container *ngIf="!row.editing">{{ row.age }}</ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="row.editing">
                                        <select class="form-select" name="gender{{i}}" [(ngModel)]="row.gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </ng-container>
                                    <ng-container *ngIf="!row.editing">{{ row.gender }}</ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="row.editing">
                                        <input type="text" class="form-control" name="kh_name{{i}}"
                                            [(ngModel)]="row.kh_name">
                                    </ng-container>
                                    <ng-container *ngIf="!row.editing">{{ row.kh_name }}</ng-container>
                                </td>
                                <td>
                                    <ng-container *ngIf="row.editing">
                                        <input type="text" class="form-control" name="grade{{i}}"
                                            [(ngModel)]="row.grade">
                                    </ng-container>
                                    <ng-container *ngIf="!row.editing">{{ row.grade }}</ng-container>
                                </td>
                                <td class="box_action">
                                    <ng-container *ngIf="row.editing">
                                        <button class="btn1" [hidden]="!allInputsFilled(i)" (click)="saveRow(i)">
                                            <i class="fa-solid fa-check"></i>
                                        </button>
                                        <button class="btn2" [ngClass]="{'ml-auto': !allInputsFilled(i)}"
                                            (click)="cancelRow(i)">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    </ng-container>
                                    <ng-container *ngIf="!row.editing">
                                        <button class="btn1" (click)="editRow(i)">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn2" (click)="deleteRow(i)">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <mat-paginator showFirstLastButtons [length]="rows.length" [pageSize]="itemsPerPage"
                        [pageSizeOptions]="[5, 10, 20]" (page)="pageChanged($event)"></mat-paginator>

                </div><br>
                <div style="float: right;">
                    <button class="btn btn-success" (click)="showDataAsJson()">Show Data</button>
                </div>

                <div *ngIf="jsonData">
                    <h4>Data in JSON format:</h4>
                    <pre>{{jsonData }}</pre>
                </div>
            </div>
        </div>
    </div>
</section>