.btn1{
    border: none;
    color: green;
    background: none;
    font-size: 20px;
    margin-right: 10px;
}

.btn2{
    border: none;
    color: red;
    background: none;
    font-size: 20px;
}

.box_action{
    display: flex;
    align-items: center;
}